{% extends 'base.html' %}

{% block headers %}
    {% include 'castpage/include/headers.html' %}
{% endblock %}

{% block header %}
    {% include 'castpage/include/header.html' with cast=event.cast %}
{% endblock %}

{% block content %}
    <h1>{{ event.name }}</h1>
    <div class="row">
        <div class="col-lg-4">
            {% if form %}
            <a class="btn btn-primary" href="{% url 'event_edit' pk=event.pk %}" role="button"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger" href="{% url 'event_delete' pk=event.pk %}" role="button"><i class="far fa-trash-alt"></i></a>
            {% endif %}
            <h3>{{ event.date }}</h3>
            <h3>{{ event.start_time|date:'g:i A' }}</h3>
            <h3><a href="https://www.google.com/maps/search/{{ event.venue|urlencode }}">{{ event.venue }}</a></h3>
            <p>{{ event.description }}</p>
        </div>
        <div class="col-lg-8">
            <h2>Cast</h2>
            {% include 'events/include/casting_grid.html' with castings=event.castings.all %}
            {% if form %}
            <h2>Add Casting</h2>
            {% include 'include/form.html' with form=form submit_text='Add Casting' %}
            {% endif %}
        </div>
    </div>
{% endblock %}