header .row {
    height: auto;
}

.events-list h1 {
    display: inline-block;
}

.event h4 {
    display: inline-block;
}

.section-title h3 {
    display: inline-block;
}

.image-grid div div {
    padding: 2px;
}

.img-thumbnail {
    background-color: #BA150C;
    border: 1px solid #6E0500;
}