{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>Edit User Profile</h2>
            <form method="POST" class="profile-form form" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="save btn btn-primary">Update Profile</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}