body {
    background: #202020;
    color: rgba(255, 255, 255, 0.7);
}

header {
    background: #BA150C;
    margin-bottom: 20px;
}

header a {
    color: #6E0500;
}

header a:hover {
    color: #F15A52;
}

main a {
    color: #BA150C;
}

main a:hover {
    color: #F15A52;
}

main .row {
    margin-top: 10px;
}

.floatr {
    float: right;
}

.btn-primary {
    background-color: #BA150C;
    border-color: #BA150C;
}

.btn-primary:hover {
    background-color: #F15A52;
    border-color: #F15A52;
}

.btn-danger {
    background-color: white;
    border-color: #BA150C;
    color: #BA150C;
}

.btn-danger:hover {
    background-color: #BA150C;
    border-color: #BA150C;
    color: white;
}