html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #202020;
    color: rgba(255, 255, 255, 0.7);
}

nav a {
    color: #BA150C;
}

nav a:hover {
    color: #F15A52;
}

nav .col-xs-auto {
    padding-right: 15px;
    padding-left: 15px;
}

header {
    background-color: #BA150C;
    color: #DDD;
    margin-bottom: 20px;
}

header .row {
    height: 70px;
}

header a {
    color: #DDD;
}

header a:hover {
    color: #F15A52;
}

main a {
    color: #BA150C;
}

main a:hover {
    color: #F15A52;
}

main .row {
    margin-top: 10px;
}

aside {
    margin-bottom: 20px;
}

.button-grid .btn {
    margin-bottom: 5px;
}

.btn {
    margin-bottom: 4px;
}

.btn-primary {
    background-color: #BA150C;
    border-color: #BA150C;
}

.btn-primary:hover {
    background-color: #F15A52;
    border-color: #F15A52;
    color: #6E0500;
}

.btn-danger {
    background-color: white;
    border-color: #BA150C;
    color: #BA150C;
}

.btn-danger:hover {
    background-color: #BA150C;
    border-color: #BA150C;
    color: white;
}

.btn-calendar {
    background-color: #DDD;
    padding: 3px 5px 3px 5px;
    margin-bottom: -5px;
}

.btn-calendar h4 {
    margin: 0px;
}

.item-stub {
    background-color: #303030;
    margin: 5px 0px 5px 0px;
    padding: 10px 5px 5px 5px;
    text-align: center;
}

.cast-stub h4 {
    margin: 5px 0px 0px 0px;
}

.cast-stub img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 40%; */
}

.casting-stub {
    background-color: #303030;
    margin: 5px 0px 5px 0px;
    padding: 10px 5px 5px 5px;
}

.casting-image {
    margin: 0px;
    padding: 0px;
}

.calendar-header {
    border-bottom: 5px solid;
    border-bottom-color: #6E0500;
}

.event-grid {
    margin-bottom: 15px;
}

.event-list {
    margin-bottom: 15px;
}

.event {
    background-color: #303030;
    margin: 5px 0px 5px 0px;
}

.event-details {
    padding: 5px;
}

.event-label {
    padding: 0px;
}

.event-label > div {
    margin: 0px;
}

.event-label h4 {
    margin-top: auto;
    margin-bottom: auto;
}

.event-label h6 {
    margin: auto;
}

.event-label-calendar {
    background-color: #DDD;
    padding: 3px 5px 3px 5px;
}

.event-label-time {
    background-color: black;
    color: #DDD;
    padding: 3px 5px 3px 5px;
}

.event-label-time h2, .event-label-time h4, .event-label-time h6 {
    display: inline-block;
}

.bootstrap-datetimepicker-widget * {
    color: black;
}

.notification {
    background-color: #303030;
    border-color: #DDD;
}

.img-thumbnail {
    background-color: #BA150C;
    border: 1px solid #6E0500;
}

.image-grid div div {
    padding: 2px;
}

.image-grid {
    margin-bottom: 10px;
}