{% load static %}
{% load bootstrap4 %}
<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/rockymain.css' %}">
        {% block headers %}
        <title>Rocky Rollcall</title>
        {% endblock %}
    </head>
    <body>
        <nav class="container-fluid">
            {% include 'include/navbar.html' %}
        </nav>
        <header class="container-fluid">
            {% block header %}
                {% include 'include/header.html' %} 
            {% endblock %}
        </header>
        <main>
            {% if messages %}
                <div class="messages container">
                    {% bootstrap_messages %}
                </div>
            {% endif %}
            <div class="content container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>