
<div class="event row">
    <div class="col-auto flex-column d-flex text-center event-label">
        <div class="row flex-grow-1">
            <div class="col event-label-calendar">
                <h4><span style="color: #BA150C">{{ event.date|date:'b'|title }}</span> <span style="color: black">{{ event.date.day }}</span></h4>
            </div>
        </div>
        <div class="row flex-grow-1">
            <div class="col event-label-time">
                <h4>{{ event.start_time|date:'g:i' }}</h4><h6>{{ event.start_time|date:'A' }}</h6>
            </div>
        </div>
    </div>
    <div class="col event-details">
        <h4><a href="{% url 'event_detail' pk=event.pk %}">{{ event.name }}</a></h4>
        <div>@ <a href="https://www.google.com/maps/search/{{ event.venue|urlencode }}">{{ event.venue }}</a></div>
        {% if show_cast %}<div>By <a href="{% url 'cast_home' slug=event.cast.slug %}">{{ event.cast.name }}</a></div>{% endif %}
        {% if show_management %}
        <a class="btn btn-primary" href="{% url 'event_edit' pk=event.pk %}" role="button"><i class="fas fa-edit"></i></a>
        <a class="btn btn-danger" href="{% url 'event_delete' pk=event.pk %}" role="button"><i class="far fa-trash-alt"></i></a>
        {% endif %}
    </div>
</div>