<div class="event">
    <h4>{{ event.name }}</h4>
    {% if show_management %}
        <a class="btn btn-primary" href="{% url 'event_edit' pk=event.pk %}" role="button"><i class="fas fa-edit"></i></a>
        <a class="btn btn-danger" href="{% url 'event_delete' pk=event.pk %}" role="button"><i class="far fa-trash-alt"></i></a>
    {% endif %}
    {% if show_cast %}<div><a href="{% url 'cast_home' slug=event.cast.slug %}">{{ event.cast.name }}</a></div>{% endif %}
    <div>{{ event.date }} - {{ event.start_time }}</div>
    <div><a href="https://www.google.com/maps/search/{{ event.venue|urlencode }}">{{ event.venue }}</a></div>
    <p>{{ event.description }}</p>
</div>