{% extends 'castpage/base.html' %}

{% load bootstrap4 %}

{% block headers %}
    {{ block.super }}
    {% include 'include/headers/tinymce.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Cast Info</h1>
            <form method="POST" class="cast-form form" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="save btn btn-primary">Save Cast</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}