{% extends 'castpage/base.html' %}

{% block content %}
    <div class="row">
        <aside class="col-md-4">
            {% if show_management %}
            <div class="row">
                <div class="col">
                    <p><a class="btn btn-primary" href="{% url 'cast_admin' slug=cast.slug %}" role="button"><i class="fas fa-cog"></i> Manage Cast</a></p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    <p>
                    <a class="btn btn-primary" href="mailto:{{ cast.email }}" role="button"><i class="fas fa-envelope"></i></a>
                    {% if cast.external_url %}<a class="btn btn-primary" href="{{ cast.external_url }}" role="button"><i class="fas fa-home"></i></a>{% endif %}
                    {% if cast.facebook_url %}<a class="btn btn-primary" href="{{ cast.facebook_url }}" role="button" style="background-color: #3B5998; border-color: #3B5998"><i class="fab fa-facebook-f"></i></a>{% endif %}
                    {% if cast.twitter_user %}<a class="btn btn-primary" href="https://twitter.com/{{ cast.twitter_user }}" role="button" style="background-color: #00aced; border-color: #00aced"><i class="fab fa-twitter"></i></a>{% endif %}
                    {% if cast.instagram_user %}<a class="btn btn-primary" href="https://instagram.com/{{ cast.instagram_user }}" role="button" style="background-color: #8a3ab9; border-color: #8a3ab9"><i class="fab fa-instagram"></i></a>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Upcoming Events</h3>
                    {% include 'events/include/event_list.html' with events=cast.upcoming_events %}
                    <a class="btn btn-primary" href="{% url 'cast_events' slug=cast.slug %}">All Upcoming Events</a>
                </div>
            </div>
        </aside>
        <div class="col-md-8 sections">
            <div class="col section">
                <div class="section-title">
                    <h3>About Us</h3>
                    {% if show_management %}
                        <a class="btn btn-primary" href="{% url 'cast_edit' slug=cast.slug %}" role="button"><i class="fas fa-edit"></i></a>
                    {% endif %}
                </div>
                <div class="section-body">
                    {{ cast.description|safe }}
                </div>
            </div>
            {% for section in cast.page_sections.all %}
            <div class="col section">
                <div class="section-title">
                    <h3>{{ section.title }}</h3>
                    {% if show_management %}
                        <a class="btn btn-primary" href="{% url 'cast_section_edit' slug=cast.slug pk=section.pk %}" role="button"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="{% url 'cast_section_delete' slug=cast.slug pk=section.pk %}" role="button"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </div>
                <div class="section-body">
                    <p>{{ section.text|safe }}</p>
                </div>
            </div>
            {% endfor %}
            {% if show_management %}
            <div class="col">
                <a href="{% url 'cast_section_new' slug=cast.slug %}" class="btn btn-primary" role="button"><i class="fas fa-plus"></i> New Section</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}