{% extends 'castpage/base.html' %}

{% block content %}
    <div class="row">
        <aside class="col-md-4">
            {% if show_management %}
            <div class="row">
                <div class="col">
                    <p><a class="btn btn-primary" href="{% url 'cast_admin' slug=cast.slug %}" role="button"><i class="fas fa-cog"></i> Manage Cast</a></p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    <p>{% include 'include/social_buttons.html' with obj=cast %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Upcoming Events</h3>
                    {% include 'events/include/event_list.html' with events=cast.upcoming_events %}
                    <a class="btn btn-primary" href="{% url 'cast_events' slug=cast.slug %}"><i class="far fa-calendar-alt"></i> All Upcoming Events</a>
                </div>
            </div>
            {% if cast.photos.all|length > 0 %}
            <div class="row">
                <div class="col">
                    {% include 'photos/include/photo_grid.html' with photos=cast.photos.all|slice:":6" col_size='col-6 col-sm-4 col-md-6' thumb_size='200x150' link_template='castpage/include/grid_photo_link.html' %}
                    <a class="btn btn-primary" href="{% url 'cast_photos' slug=cast.slug %}"><i class="far fa-image"></i> All Photos</a>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary" href="{% url 'cast_members' slug=cast.slug %}"><i class="fas fa-users"></i> Cast Members</a>
                    {% if request.user.is_authenticated and not is_blocked %}
                        {% if member_requested %}
                        <a class="btn btn-primary" disabled><i class="far fa-clock"></i> Requested</a>
                        {% elif is_member %}
                        <a class="btn btn-danger" href="{% url 'cast_member_leave' slug=cast.slug %}"><i class="far fa-trash-alt"></i> Leave Cast</a>
                        {% else %}
                        <a class="btn btn-primary" href="{% url 'cast_member_join' slug=cast.slug %}"><i class="fas fa-plus"></i> Request to Join</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </aside>
        <div class="col-md-8 sections">
            <section class="col">
                <div class="section-title">
                    <h3>About Us</h3>
                    {% if show_management %}
                        <a class="btn btn-primary" href="{% url 'cast_edit' slug=cast.slug %}" role="button"><i class="fas fa-edit"></i></a>
                    {% endif %}
                </div>
                <div class="section-body">
                    {{ cast.description|safe }}
                </div>
            </section>
            {% for section in cast.page_sections.all %}
            <section class="col">
                <div class="section-title">
                    <h3>{{ section.title }}</h3>
                    {% if show_management %}
                        <a class="btn btn-primary" href="{% url 'cast_section_edit' slug=cast.slug pk=section.pk %}" role="button"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger" href="{% url 'cast_section_delete' slug=cast.slug pk=section.pk %}" role="button"><i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </div>
                <div class="section-body">
                    <p>{{ section.text|safe }}</p>
                </div>
            </section>
            {% endfor %}
            {% if show_management %}
            <div class="col">
                <a href="{% url 'cast_section_new' slug=cast.slug %}" class="btn btn-primary" role="button"><i class="fas fa-plus"></i> New Section</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}