{% extends 'castpage/base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <img src="{{ photo.image.url }}" alt="" class="img-fluid">
            <p><br/>{{ photo.description }}</p>
            {% if show_management %}
            <a href="{% url 'cast_photo_edit' slug=cast.slug pk=photo.pk %}" class="btn btn-primary" role="button"><i class="fas fa-edit"></i></a>
            <a href="{% url 'cast_photo_delete' slug=cast.slug pk=photo.pk %}" class="btn btn-danger" role="button"><i class="far fa-trash-alt"></i></a>
            {% endif %}
        </div>
    </div>
{% endblock %}